nav {
    margin-top: 10px;
}

nav button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}


button[data-tab="vote-tab"] {
    background-color: #99D121;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button[data-tab="simulator-tab"] {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}


nav button:hover {
    background-color: #2980b9;
}


nav button:hover[data-tab="vote-tab"]{
    background-color: #657D70;
}


nav button:hover[data-tab="simulator-tab"]{
    background-color: #8B0000;
}

/* NOUVEAU : Style pour le bouton désactivé */
nav button:disabled {
    background-color: #d0d0d0; /* Gris clair */
    color: #888;
    cursor: not-allowed;
    pointer-events: none; /* Empêche les événements de survol */
}

nav button:disabled:hover {
    background-color: #d0d0d0; /* Pas de changement de couleur au survol */
}